<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
    <div class="bg-white rounded shadow">
      <div class="d-flex">
        <div class="mr-auto p-2">
          <h1>🥤</h1>
        </div>
        <div class="p-2  ">
            <ul>
              <li>
                <%= link_to 'New list', new_list_path %>
              </li>
              <li>
                <%= link_to 'My Lists', lists_path %>
              </li>
            </ul>
          </div>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
